*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Users/gwynplaine/AndroidStudioProjects/Twitter/app/src/androidTest/assets/configuration.properties
app/src/androidTest/assets/config.properties
